.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5rem;
}

/* FRONT (image) */
.flip-card-front {
  transform: rotateY(180deg);
}

/* BACK (hidden side) */
.flip-card-back {
  background: #444;
}
